@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.ant-btn-primary {
  color: #fff;
  background-color: #00acc1;
  border-color: #00acc1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-slider-handle {
  border: solid 2px #00acc1;
}

.ant-slider-handle-click-focused {
  border: solid 2px #00acc1;
}

.ant-slider-dot-active {
  border-color: #00acc1;
}

.ant-slider-track {
  position: absolute;
  height: 4px;
  background-color: #00acc1;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
